.home{
  width: 100%;
  height: 100%;
  .menu-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    h1{
      margin-bottom: 34px;
      color: #fff;
      font-size: 45px;
      @media screen and (max-width: 991px){
        font-size: 36px;
      }
    }

    ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;

      @media screen and (max-width: 991px){
        flex-direction: column;
      }

      li{
        margin: 0 12px;

        @media screen and (max-width: 991px){
          margin: 12px 0;
        }

        .ant-card{
          position: relative;
          border-radius: 0;
          border: 5px solid #fff;
          height: 200px;
          width: 240px;
          transition: background-color 300ms ease;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          .ant-card-body{
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            color: #ffffff;
            transition: color 300ms ease;
            @media screen and (max-width: 991px){
              font-size: 18px;
            }
          }

          &:hover{
            .ant-card-body{
              color: #333333;
            }
            background-color: #ffffff;
          }


          &:after{
            content: ' ';
            display: block;
            position: absolute;
            height: 5px;
            background-color: #ffffff;
          }
        }

        &:nth-child(1){
          .ant-card{
            &:after{
              width: 120px;
              left: -17px;
              top: 34px;
              transform: rotate(-40deg);
              background-color: #ffffff;
            }
          }
        }
        &:nth-child(2){
          .ant-card{
            &:after{
              width: 140px;
              left: -6px;
              bottom: 16px;
              transform: rotate(17deg);
              background-color: #ffffff;
            }
          }
        }
        &:nth-child(3){
          .ant-card{
            &:after{
              width: 170px;
              right: -54px;
              top: 72px;
              transform: rotate(67deg);
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
}